target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.idea/
*.iws
*.iml
*.ipr
.DS_Store
.classpath
.project
.settings/
.springBeans
.sts4-cache
.vscode/
